<div class="flex-wrap flex justify-center">
    @for (event of events; track event){
    @if ( event.done ){
    <div
        class="w-full card card-compact sm:w-64 m-3 bg-base-300 hover:shadow-2xl cursor-pointer transition duration-500 ease">
        <figure>
            <img (click)="navigateEvent(event.year)" [ngClass]="loadingImages[0]?'skeleton':''"
                class="object-cover rounded-b-none w-full h-64"
                src="{{ event.imageUrl? event.imageUrl : 'assets/img/advent-of-code-placeholder.webp' }}"
                alt="Advent of Code {{ event.year }}" />
        </figure>
        <div class="card-body items-center text-center">
            <div class="card-actions justify-center items-center">
                <div class="tooltip" data-tip="Source code">
                    <a [href]="gitUrl+event.year" target="_blank">
                        <button class="btn btn-circle btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-github" viewBox="0 0 16 16">
                                <path
                                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8" />
                            </svg>
                        </button>
                    </a>
                </div>

                <div class="tooltip" data-tip="Solve this event!">
                    <button class="btn btn-circle btn-neutral btn-sm" (click)="navigateEvent(event.year)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-calendar-event-fill" viewBox="0 0 16 16">
                            <path
                                d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2m-3.5-7h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5" />
                        </svg>
                    </button>
                </div>

                <div class="tooltip" data-tip="Advent of Code page">
                    <a [href]="aocUrl+event.year" target="_blank">
                        <button class="btn btn-circle btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-asterisk" viewBox="0 0 16 16">
                                <path
                                    d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1" />
                            </svg>
                        </button>
                    </a>
                </div>
            </div>
            <h2 class="card-title">{{ event.year }}</h2>
        </div>
    </div>
    }
    }
</div>