<div class="flex h-screen">
    <div class="m-auto w-screen sm:max-w-4xl h-full md:h-fit">
        <div class="mockup-window border bg-base-300 h-full">
            <textarea class="mx-3 mt-3 font-mono textarea textarea-bordered h-full md:h-96"
                placeholder="Please provide the puzzle input for Day {{ eventDay }} of the {{ eventYear }} Advent of Code event."></textarea>
            <div class="w-full flex justify-end">
                <button (click)="navigateCancel()" class="btn btn-lg btn-primary m-3"> <svg
                        xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5" />
                    </svg></button>
                <button class="btn-wide btn btn-lg btn-success my-3 mr-3">Solve</button>
            </div>
        </div>
    </div>
</div>